<html>
<body>
<h3>Batch Validation Report for job id: {{job_id}}</h3>

<a href="http://{{ domain }}{% url 'batch_download' job_id %}">Click to download your batch validation report</a>

<p>
  Clicking this link will prompt you to choose a location on your computer to where your data will be downloaded,
  in the format of a tab delimited .txt file.
  This file can be copied and pasted into a spreadsheet package e.g. Microsoft Excel or OpenOffice Calc.
  Un-retrieved data will be deleted automatically after <strong>7 days</strong>.
</p>
<br>
<p>Regards,</p>
<p>VariantValidator Admin</p>
</body>
</html>