{% load i18n %}

<div id="CookielawBanner" class="bg-warning">
    <div class="container">
        <h6>{% trans "COOKIE_INFO_HEADER" %}</h6>
        <p>
            {% trans "COOKIE_INFO_PARA" %}
        </p>
        <p>
          By continuing to use VariantValidator you also accept our <a class="text-dark alert-link" href="https://github.com/openvar/variantValidator/blob/master/README.md">Terms and Conditions</a>.
            <a class="btn btn-light float-right" href="javascript:Cookielaw.createCookielawCookie();">{% trans "COOKIE_INFO_OK" %}</a>
        </p>
    </div>
</div>