{% extends 'base.html' %}

{% block header_title %}About{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12 mb-5">
          <h2>Cite Us</h2>
          <h4>VariantValidator: Accurate validation, mapping and formatting of sequence variation descriptions</h4>
          <p>Freeman PJ, Hart RK, Gretton LJ, Brookes AJ, Dalgleish R. Human Mutation. 2018;39:61–68.</p>
          <a href="https://doi.org/10.1002/humu.23348">https://doi.org/10.1002/humu.23348</a>
          <hr>
          <h2>Source Code</h2>
          <p>All code is available online at <a href="https://github.com/openvar">https://github.com/openvar</a></p>
          <hr>
          <h2>Cookie Policy</h2>
          <p>We use a simple cookie to improve your browsing experience. The cookie saves your preferences for each
              VariantValidator web page. We do not use cookies to gather information</p>

          <p>VariantValidator contains hyperlinks to websites owned and operated by third parties. We do not accept
              any responsibility or liability for the privacy practices of such third-party websites and your use of
              such websites is at your own risk
          </p>
          <hr>
          <h2>Terms and Conditions</h2>
          <p>
              The University of Leicester has developed the VariantValidator web site to provide accurate validation,
              mapping and formatting of sequence variants using HGVS nomenclature
          </p>
          <p>
              All contents of VariantValidator are protected by local and international copyright laws.
              User inputs are submitted for the purpose of interpreting genetic and clinical information
              (including clinical genomic and genetic data). Outputs returned may or may not have a causal association
              with disease phenotypes, irrespective of stated classifications or other information presented by
              VariantValidator. All information returned by VariantValidator, including variant classifications, is
              subject to change and there is no warranty, express or implied, as to its accuracy, completeness, or
              fitness for a particular purpose. Use of VariantValidator and information is subject to User
              responsibility and discretion. Clinical decisions regarding individual patient care should be carried
              out in conjunction with a healthcare professional with expertise in the relevant genes and diseases.
              We do not accept any liability for any injury, loss or damage incurred by use of or reliance on the
              information provided by VariantValidator.
          </p>
          <h4>By continuing to use VariantValidator, you accept the following terms:</h4>

          <dl>
              <dt>Secure/Remote Access.</dt>
              <dd>
                  All access and use of VariantValidator must be made via a secure network.
              </dd>
              <dt>Variations in Content.</dt>
              <dd>
                  The University of Leicester shall have the right, in its reasonable
                  and good faith discretion, to remove or modify materials accessed by VariantValidator or outputs
                  provided by VariantValidator because such materials contain errors or could be subject to an
                  infringement or other adverse claim by a third party.
              </dd>
              <dt>Remedial Action.</dt>
              <dd>
                  Without limiting the above, University may suspend delivery of the Service if it reasonably
                  determines a User’s failure to comply with this Agreement may cause irreparable harm to it.
              </dd>
              <dt>Service Level.</dt>
              <dd>
                  University will use reasonable efforts to provide access to the Service on a continuous 24/7 basis
                  (except for regularly scheduled maintenance when Service may be suspended) and free from viruses or
                  other harmful software. University shall not be liable for any failure or delay or interruption in
                  the Service or failure of any equipment or telecommunications resulting from any cause beyond
                  University’s reasonable control. User is responsible for providing all required information.
              </dd>
              <dt>No Warranty.<dt>
              <dd>
                  University makes no warranty that Service is error free or that the use thereof will be uninterrupted
                  and User acknowledges and agrees that the existence of such errors shall not constitute a breach of
                  this Agreement. University disclaims all other warranties with respect to Service, either express or
                  implied, including but not limited to any implied warranties relating to quality, fitness for any
                  particular purpose or ability to achieve a particular result. Limitation of Liability. University’s
                  total liability for any claims, losses, damages or expenses whatsoever and howsoever caused
                  (even if caused by University’s negligence and/or breach of contract) shall be limited to the price
                  paid to University for the products or services that are the subject of the User’s claim.

              </dd>
          </dl>
      </div>
    </div>
{% endblock %}