{% load static %}
{% load cookielaw_tags %}
{% load account %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VariantValidator{% block title %} {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-frontpage.css' %}" rel="stylesheet">

  <link href="{% static 'css/vvweb.css' %}" rel="stylesheet">
  <link href="{% static 'cookielaw/css/cookielaw.css' %}" rel="stylesheet">

  <script src="https://kit.fontawesome.com/ff8a38ffc2.js" crossorigin="anonymous"></script>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

  {% block extraheader %}
  {% endblock %}

</head>

<body>

  <div class="overlay"></div>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="z-index:1">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">VariantValidator.org</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars" style="font-size: larger"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            {% if request.resolver_match.url_name != 'home' %}
            <li>
                <form class="form-inline" method="post" id="validate-form" name="validate-form-nav">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" id="variant_id" name="variant" type="text" placeholder="Variant Description" required {% if variant %} value="{{ variant }}" {% endif %} style="width: 65%; margin: 5px;">
                    <input class="form-control mr-sm-2" id="select_transcripts" name="transcripts" type="text" placeholder="Select Transcripts" {% if select_transcripts %} value="{{ select_transcripts }}" {% endif %} style="width: 30%;margin: 5px;">
                  <div class="form-group" id="genomeselect" name="validate-form">
                      <div class="custom-radio custom-control custom-control-inline">
                          <input class="custom-control-input" type="radio" name="genomebuild" id="grch38" value="GRCh38" {% if genome == 'GRCh38' %}checked {% endif %}style="margin: 5px;">
                          <label class="custom-control-label" for="grch38">GRCh38 (hg38)</label>
                      </div>
                      <div class="custom-radio custom-control custom-control-inline">
                          <input class="custom-control-input" type="radio" name="genomebuild" id="grch37" value="GRCh37" {% if genome == 'GRCh37' %}checked {% endif %}style="margin: 5px;">
                          <label class="custom-control-label" for="grch37">GRCh37 (hg19)</label>
                      </div>
                  </div>
                    <input type="hidden" name="pdf_request" value="False">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" {% if locked %} disabled {% endif %} style="width: 20%; margin: 5px; float: right;">Submit </button>
                </form>
            </li>
            {% endif %}
            <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active {% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown {% if 'service' in request.resolver_match.route %}active {% endif %}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Tools</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'validate' %}">Validator</a>
                <a class="dropdown-item" href="{% url 'batch_validate' %}">Batch Validator</a>
                <a class="dropdown-item" href="{% url 'genes2trans' %}">Genes to Transcripts</a>
                <!-- <a class="dropdown-item" href="{% url 'vcf2hgvs' %}">VCF to HGVS</a> -->
                <a class="dropdown-item" href="https://rest.variantvalidator.org/">REST API</a>
              </div>
            </li>
            <li class="nav-item dropdown {% if 'help' in request.resolver_match.route %}active {% endif %}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Information</a>
              <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://github.com/openvar/variantValidator/blob/master/README.md">About</a>
                <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
                <div class="dropdown-divider"></div>
                <!-- <a class="dropdown-item" href="{% url 'nomenclature' %}">Nomenclature</a> -->
                <a class="dropdown-item" href="{% url 'batch_instructions' %}">Batch Tool</a>
                <a class="dropdown-item" href="{% url 'faqs' %}" style="display: none">FAQs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-toggle" id="helpSubDropdown" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">External Links</a>
                  <div class="dropdown-menu" aria-labelledby="helpSubDropdown">
                      <h6 class="dropdown-header">HGVS Nomenclature</h6>
                      <a class="dropdown-item" href="http://varnomen.hgvs.org/" role="button" target="_blank">HGVS/varnomen</a>
                      <div class="dropdown-divider divider-header"></div>
                      <h6 class="dropdown-header">Variant Databases</h6>
                      <a class="dropdown-item" href="http://grenada.lumc.nl/LSDB_list/lsdbs" target="_blank">Locus Specific Database list</a>
                      <a class="dropdown-item" href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">ClinVar</a>
            		  <a class="dropdown-item" href="https://cancer.sanger.ac.uk/cosmic" target="_blank">COSMIC</a>
                      <div class="dropdown-divider divider-header"></div>
                      <h6 class="dropdown-header">Reference Sequence Portals</h6>
                      <a class="dropdown-item" href="https://www.ncbi.nlm.nih.gov/refseq/" target="_blank">NCBI RefSeq</a>
                      <a class="dropdown-item" href="http://www.lrg-sequence.org/" target="_blank">Locus Reference Genomic</a>
                      <a class="dropdown-item" href="http://www.ensembl.org/index.html" target="_blank">ENSEMBL</a>
                      <a class="dropdown-item" href="https://genome.ucsc.edu/cgi-bin/hgGateway" target="_blank">UCSC Genome Browser</a>
                      <div class="dropdown-divider divider-header"></div>
                      <h6 class="dropdown-header">Similar Sites</h6>
                      <a class="dropdown-item" href="https://mutalyzer.nl/" target="_blank">Mutalyzer</a>
                  </div>
              </div>
            </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
              {% user_display user %}
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'profile-home' %}">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Sign Out</a>
              </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% cookielaw_banner %}

  <!-- Header -->
  <header class="bg-primary py-2">
    <div class="container h-25">
      <div class="row h-25 align-items-center">
        <div class="col-6">
          <h1 class="display-4 text-white mt-4 mb-2">{% block header_title %}VariantValidator{% endblock %}</h1>
          <p class="lead mb-0 text-white-75">{% block subtitle %}{% endblock %}</p>
        </div>
      <div class="col-6 text-right">
            <ul>
                <img src="{% static 'img/logos/VV_logo.png' %}" alt="VariantValidator Logo" class="img-fluid" style="max-height: 150px">
                {% block twitter %}
                {% endblock %}
            </ul>
      </div>
      </div>
    </div>
  </header>
  {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} {% if 'error' in message.tags %} alert-danger {% endif %} alert-dismissible fade show" role="alert">
                {{ message | safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

  <!-- Page Content -->
  <div class="container mt-5">
  {% block header %}
  {% block content %}
  {% endblock %}
  {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col col-lg-3">
          <a href="https://www.manchester.ac.uk/" target="_blank">
            <img class="img-fluid" src="{% static 'img/logos/Manchester_logo.png' %}" style="min-width: 100px" alt="University of Manchester Logo">
          </a>
        </div>
        <div class="col col-lg-6">
          <p class="m-0 text-center text-dark">Copyright &copy; 2016-2024 VariantValidator Contributors</p>
        </div>
        <div class="col col-lg-3">
          <a href="http://le.ac.uk" target="_blank">
            <img class="img-fluid" src="{% static 'img/logos/uniofleicesterlogo.png' %}" style="min-width: 100px" alt="University of Leicester Logo">
          </a>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Logout Modal -->
  <!-- Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Sign Out</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to sign out?</p>
        </div>
        <div class="modal-footer">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Sign Out</button>
          </form>
        </div>
      </div>
    </div>
  </div>

   <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'js/cookielaw.js' %}"></script>
  <script src="{% static 'js/vvweb.js' %}"></script>
  {% block extrafooter %}
  {% endblock %}

  <script>
  $(document).ready(function() {
      $('body').css('padding-top', $('.navbar').outerHeight() + 'px');
  });

  $(window).resize(function() {
      $('body').css('padding-top', $('.navbar').outerHeight() + 'px');
  });
  </script>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77024113-1', 'auto');
  ga('send', 'pageview');
</script>

</html>