{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Business Frontpage - Start Bootstrap Template {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-frontpage.css' %}" rel="stylesheet">

  <link href="{% static 'css/vvweb.css' %}" rel="stylesheet">

  <script src="https://kit.fontawesome.com/ff8a38ffc2.js"></script>

  {% block extraheader %}
  {% endblock %}

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">VariantValidator.org</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active {% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active {% endif %}">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item dropdown {% if 'service' in request.resolver_match.route %}active {% endif %}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Services</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'validate' %}">Validator</a>
                <a class="dropdown-item" href="{% url 'batch_validate' %}">Batch Validator</a>
                <a class="dropdown-item" href="#">Genes to Transcripts</a>
                <a class="dropdown-item" href="#">VCF to HGVS</a>
              </div>
          </li>
          <li class="nav-item dropdown {% if 'help' in request.resolver_match.route %}active {% endif %}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Help</a>
              <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'nomenclature' %}">Nomenclature</a>
                <a class="dropdown-item" href="#">VariantValidator</a>
                <a class="dropdown-item" href="#">FAQs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-toggle" id="helpSubDropdown" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">External Links</a>
                  <div class="dropdown-menu" aria-labelledby="helpSubDropdown">
                      <h6 class="dropdown-header">HGVS and UTA</h6>
                      <a class="dropdown-item" href="https://github.com/biocommons/hgvs" target="_blank">HGVS library</a>
                      <a class="dropdown-item" href="https://github.com/biocommons/uta/" target="_blank">Universal Transcript Archive</a>
                      <div class="dropdown-divider"></div>
                      <h6 class="dropdown-header">HGVS Nomenclature</h6>
                      <a class="dropdown-item" href="http://varnomen.hgvs.org/" role="button" target="_blank">HGVS/varnomen</a>
                      <div class="dropdown-divider"></div>
                      <h6 class="dropdown-header">Variant Databases</h6>
                      <a class="dropdown-item" href="http://grenada.lumc.nl/LSDB_list/lsdbs" target="_blank">Locus Specific Database list</a>
                      <a class="dropdown-item" href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">ClinVar</a>
            		  <a class="dropdown-item" href="https://cancer.sanger.ac.uk/cosmic" target="_blank">COSMIC</a>
                      <div class="dropdown-divider"></div>
                      <h6 class="dropdown-header">Reference Sequence Portals</h6>
                      <a class="dropdown-item" href="https://www.ncbi.nlm.nih.gov/refseq/" target="_blank">NCBI RefSeq</a>
                      <a class="dropdown-item" href="http://www.lrg-sequence.org/" target="_blank">Locus Reference Genomic</a>
                      <a class="dropdown-item" href="http://www.ensembl.org/index.html" target="_blank">ENSEMBL</a>
                      <a class="dropdown-item" href="https://genome.ucsc.edu/cgi-bin/hgGateway" target="_blank">UCSC Genome Browser</a>
                      <div class="dropdown-divider"></div>
                      <h6 class="dropdown-header">Similar Sites</h6>
                      <a class="dropdown-item" href="https://mutalyzer.nl/" target="_blank">Mutalyzer</a>
                  </div>
              </div>
          </li>
          <li class="nav-item {% if request.resolver_match.url_name == 'contact' %}active {% endif %}">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'js/vvweb.js' %}"></script>
  {% block extrafooter %}
  {% endblock %}

</body>

</html>