{% extends 'base.html' %}
{% load static %}

{% block title %} - Home{% endblock %}
{% block header_title %}VariantValidator{% endblock %}
{% block subtitle %}Accurate validation, mapping and formatting of sequence variant descriptions
    <br>
    <br>

    <ul class="list-inline">
    <li class="list-inline-item"><a href="https://www.buymeacoffee.com/VariantValidatr"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=VariantValidatr&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"></a></li>
    <li class="list-inline-item"><a target="_blank" title="find us on facebook" href="https://www.facebook.com/VariantValidator"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0></a></li>
    <li class="list-inline-item"><a href="https://twitter.com/VariantValidatr?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @VariantValidatr</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>
          We validate HGVS sequence variation descriptions, accurately mapping between transcript and genomic variants.
          We also automate conversion of genomic (VCF) sequence variation descriptions into the HGVS format and vice-versa.
        </p>

        <p>
          VariantValidator auto-corrects your mistakes if it can and helps you correct your own if it can't. We provide
          a range of tools to meet your needs including batch processing, a VCF file converter and API access.
        </p>
{#        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>#}
      </div>

      <div class="col-md-4 mb-4">
        <h2>Powered By</h2>
        <hr>
        <a class="font-weight-bold" href="http://github.com/openvar/variantvalidator/" target="_blank">VariantValidator</a>
        <div class="ml-2"> {{ versions.VariantValidator }}</div>
        <a class="font-weight-bold" href="http://github.com/openvar/vv_hgvs/" target="_blank">vv_hgvs</a>
        <div class="ml-2"> {{ versions.hgvs }}</div>
        <a class="font-weight-bold" href="https://www528.lamp.le.ac.uk/vvdata/validator/" target="_blank">VVDb</a>
        <div class="ml-2"> {{ versions.vvdb }}</div>
        <a class="font-weight-bold" href="https://www528.lamp.le.ac.uk/vvdata/vvta/" target="_blank">VVTA</a>
        <div class="ml-2"> {{ versions.uta }}</div>
        <a class="font-weight-bold" href="https://www528.lamp.le.ac.uk/vvdata/vv_seqrepo/" target="_blank">VVSeqRepo</a>
        <div class="ml-2"> {{ versions.seqrepo }}</div>
      </div>
    </div>

    <!-- /.row -->

    <div class="row">
      <div class="col-md-3 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/Validator.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Validator</h4>
            <p class="card-text">Validate your variant descriptions using HGVS nomenclature.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'validate' %}" class="btn btn-primary">Try It Out!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/Batch_Validator.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Batch Validator</h4>
            <p class="card-text">Validate multiple variant descriptions at once.</p>
          </div>
            <div class="card-footer">
            <a href="{% url 'batch_validate' %}" class="btn btn-primary">Try It Out!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/VCF_to_HGVS.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">VCF to HGVS</h4>
            <p class="card-text">Convert VCF files to validated HGVS variants.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'vcf2hgvs' %}" class="btn btn-primary">Try It Out!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/Gene_to_Transcript.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Gene to Transcript</h4>
            <p class="card-text">Identify all transcripts from a gene symbol.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'genes2trans' %}" class="btn btn-primary">Try It Out!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
{% endblock %}