{% extends 'base.html' %}

{% block content %}

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">VariantValidator</h1>
          <p class="lead mb-5 text-white-50">Accurate validation, mapping and formatting of sequence variants using HGVS nomenclature.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>
          We validate HGVS sequence variation descriptions, accurately mapping between transcript and genomic variants.
          We also automate conversion of genomic (VCF) sequence variation descriptions into the HGVS format and vice-versa.
        </p>

        <p>
          VariantValidator auto-corrects your mistakes if it can and helps you correct your own if it can't. We provide
          a range of tools to meet your needs including batch processing, a VCF file converter and API access.
        </p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </div>

      <div class="col-md-4 mb-5">
        <h2>Powered By</h2>
        <hr>
        <strong>VariantValidator</strong>
        <br>version 0
        <br>
        <strong>HGVS</strong>
        <br>version 1.
        <br>
        <strong>UTA</strong>
        <br>released 2018-08
        <br>
        <strong>SeqRepo</strong>
        <br>released 2018
        <br>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Validator</h4>
            <p class="card-text">Validate your variant descriptions using HGVS nomenclature</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">HGVS to VCF</h4>
            <p class="card-text">Convert VCF files</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Gene to Transcript</h4>
            <p class="card-text">Identify all transcripts from a gene symbol</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}