{% extends 'base.html' %}
{% load static %}


{% block header_title %}VariantValidator{% endblock %}
{% block subtitle %}Accurate validation, mapping and formatting of sequence variants using HGVS nomenclature.{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>
          We validate HGVS sequence variation descriptions, accurately mapping between transcript and genomic variants.
          We also automate conversion of genomic (VCF) sequence variation descriptions into the HGVS format and vice-versa.
        </p>

        <p>
          VariantValidator auto-corrects your mistakes if it can and helps you correct your own if it can't. We provide
          a range of tools to meet your needs including batch processing, a VCF file converter and API access.
        </p>
{#        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>#}
      </div>

      <div class="col-md-4 mb-5">
        <h2>Powered By</h2>
        <hr>
        <strong>VariantValidator</strong>
        <br>version {{ versions.VariantValidator }}
        <br>
        <strong>vvHGVS</strong>
        <br>version {{ versions.hgvs }}
        <br>
        <strong>UTA</strong>
        <br>release {{ versions.uta }}
        <br>
        <strong>SeqRepo</strong>
        <br>release {{ versions.seqrepo }}
        <br>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/Validator.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Validator</h4>
            <p class="card-text">Validate your variant descriptions using HGVS nomenclature.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'validate' %}" class="btn btn-primary">Try It Out!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/VCF_to_HGVS.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">VCF to HGVS</h4>
            <p class="card-text">Convert VCF files to validated HGVS variants.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'vcf2hgvs' %}" class="btn btn-primary">Try It Out!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/Gene_to_Transcript.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Gene to Transcript</h4>
            <p class="card-text">Identify all transcripts from a gene symbol.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'genes2trans' %}" class="btn btn-primary">Try It Out!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
{% endblock %}