{% extends 'base.html' %}

{% block title %} - Validator{% endblock %}
{% block header_title %}Validator{% endblock %}
{% block subtitle %}{% if output %}Submitted {{ output.inputted }}{% endif %}{% endblock %}

{% block content %}

    <div class="loading spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div id="validate-results"></div>
  <div class="row">
      <div class="col-md-12 mb-5">
          <h2>Input Variant Description</h2>
          <h5>Enter variant description in <a href="http://varnomen.hgvs.org/" target="_blank">HGVS</a> format or in VCF format (into the NavBar form) which can be demonstrated by clicking one of the links below:</h5>
          <ul>
              <li><a class="variant-example" href="#" data-genome="GRCh37">NM_000088.3:c.589G>T</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh37">NC_000017.10:g.48275363C>A</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh37">NG_007400.1:g.8638G>T</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh37">LRG_1:g.8638G>T</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh37">LRG_1t1:c.589G>T</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh38">17-50198002-C-A</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh38">17:50198002:C:A</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh38">GRCh38:17:50198002:C:A</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh38">chr17:50198002C>A</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh38">chr17:g.50198002C>A</a></li>
              <li><a class="variant-example" href="#" data-genome="GRCh38">chr17(GRCh38):g.50198002C>A</a></li>
          </ul>

          {% if from_get %}
              Additional transcript selection options
                  <ul>
                      <li>mane_select = MANE Select transcripts only</li>
                      <li>mane = MANE Select and MANE Plus Clinical transcripts</li>
                      <li>select = All select transcripts (MANE, RefSeq)</li>
                      <li>refseq_select = RefSeq Select transcripts only</li>
                  </ul>
          {% endif %}
          {% if not from_get %}
                  Additional transcript selection options
                  <ul>
                      <li>mane_select = MANE Select transcripts only</li>
                      <li>mane = MANE Select and MANE Plus Clinical transcripts</li>
                      <li>select = All select transcripts (MANE, RefSeq)</li>
                      <li>refseq_select = RefSeq Select transcripts only</li>
                  </ul>
          {% endif %}

      </div>
  </div>

  <div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" aria-labelledby="timeoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="timeoutModalLabel">Timed Out</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Your validation request ran for too long. If you are validating a genomic variant, try selecting specific transcripts, or re-submit as a batch process.</p>
        </div>
        <div class="modal-footer">
          <a role="button" class="btn btn-primary" href="{% url 'batch_validate' %}">Go To Batch Tool</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
