
dd {
  display: block;
  margin-left: 20px;
}

.required {
  color: red;
}

pre {
  position: relative;
  padding: 20px 15px;
  overflow-x: auto;
  background: #f7f7f7;
  white-space: pre;
  font-size: 14px;
  color: #666666;
  border-left: 3px solid #7b7b7b;
}

pre code {
  padding: 0;
}

code {
  background: #f7f7f7;
  padding: 2px;
}


/*For cookielaw banner*/

#CookielawBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999999;
  opacity: 0.95;
}


.wrapper {
    position: relative;
    width: 250px;
    height: 300px;
    border: 1px dashed #ccc;
    margin: 10px;
}

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: #6f6f6f;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: #fff;
}


.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}

.dropdown-header {
    padding: .2rem 1rem;
    background-color: #f7f7f7;
}

.divider-header {
    margin: .5rem 0 0 0;
}