
dd {
  display: block;
  margin-left: 20px;
}

.required {
  color: red;
}

pre {
  position: relative;
  padding: 20px 15px;
  overflow-x: auto;
  background: #f7f7f7;
  white-space: pre;
  font-size: 14px;
  color: #666666;
  border-left: 3px solid #7b7b7b;
}

pre code {
  padding: 0;
}

code {
  background: #f7f7f7;
  padding: 2px;
}


/*For cookielaw banner*/

#CookielawBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999999;
  opacity: 0.95;
}
