{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block header_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">

    <div class="card">
      <div class="card-body">
        <div class="row">

          <!-- LOCAL LOGIN ONLY (Social login removed) -->
          <div class="col">

            <p>
              {% blocktrans with site.name as site_name %}
                If you haven't yet registered
                for a {{ site_name }} account <a href="{{ signup_url }}">click here</a>
                <br><br>
                Otherwise, sign in below
              {% endblocktrans %}
            </p>

            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}

              <!-- Username / Email -->
              <div class="form-group row">
                <div class="col-3 col-sm-4 col-md-3">
                  <label class="col-form-label" for="{{ form.login.id_for_label }}">
                    {{ form.login.label }}:
                  </label>
                </div>
                <div class="col">
                  {{ form.login|add_class:"form-control" }}
                </div>
                {% if form.login.errors %}
                  <div class="text-danger">
                    {{ form.login.errors }}
                  </div>
                {% endif %}
              </div>

              <!-- Password -->
              <div class="form-group row">
                <div class="col-3 col-sm-4 col-md-3">
                  <label class="col-form-label" for="{{ form.password.id_for_label }}">
                    {{ form.password.label }}:
                  </label>
                </div>
                <div class="col">
                  {{ form.password|add_class:"form-control" }}
                </div>
                {% if form.password.errors %}
                  <div class="text-danger">
                    {{ form.password.errors }}
                  </div>
                {% endif %}
              </div>

              <!-- Remember Me -->
              <div class="form-group row">
                <div class="offset-3 offset-sm-4 offset-md-3 col">
                  <div class="form-check">
                    {{ form.remember|add_class:"form-check-input" }}
                    <label class="form-check-label" for="{{ form.remember.id_for_label }}">
                      {{ form.remember.label }}
                    </label>
                  </div>
                </div>
              </div>

              <!-- Non-field errors -->
              <div class="text-danger">
                {{ form.non_field_errors }}
              </div>

              <!-- Redirect field -->
              {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
              {% endif %}

              <!-- Submit -->
              <div class="row">
                <div class="offset-1 col-10">
                  <button class="btn btn-block btn-primary" type="submit">
                    {% trans "Sign In" %}
                  </button>
                </div>
              </div>

              <!-- Forgot Password -->
              <div class="row">
                <div class="col text-center">
                  <a class="small" href="{% url 'account_reset_password' %}">
                    {% trans "Forgot Password?" %}
                  </a>
                </div>
              </div>

            </form>
          </div><!-- end col -->

        </div><!-- end row -->
      </div><!-- end card-body -->
    </div><!-- end card -->

    <p class="pt-2">
      By registering an account, either directly or via a third-party, you are agreeing to our
      <a href="https://github.com/openvar/variantValidator/blob/master/README.md">privacy policy</a>.
      Consent can be retracted at any time by
      <a href="{% url 'contact' %}">contacting admin</a>.
    </p>

  </div>
</div>

{% endblock %}