{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block header_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group row">
      <div class="col-3 col-lg-2">
        <label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
      </div>
      <div class="col-6">
        {{ field | add_class:"form-control"}}
      </div>
    {% if field.errors %}
      <div class="offset-3 offset-lg-2 col-9 text-danger">
        {{ field.errors }}
      </div>
    {% endif %}
    </div>
  {% endfor %}
  <div class="text-danger">
    {{ form.non_field_errors }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}