{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "My profile" %}{% endblock %}

{% block header_title %}User Profile{% endblock %}

{% block content %}
<style>
.grey {
	color:grey;
}
.success {
	color:green;
}
</style>

  <div class="row">
      <div class="col-xs-12 offset-md-1 col-md-10 offset-md-1 ">

      <h1>{% user_display user %}</h1>
      <p>{% if profile.completion_level == 100 %}<i class="fa fa-user fa-lg success"></i>&nbsp;{% endif %}{% trans "Profile " %}
        <span class="font-weight-bold">
          {{ profile.completion_level }}%
        </span>
        {% trans " completed" %}
      </p>
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width:{{ profile.completion_level }}%;">
                {{ profile.completion_level }}%
            </div>
        </div>
      {% if not profile.completion_level == 100 %}
        <p class="alert alert-info text-center">
          <i class="fa fa-user-times fa-lg"></i>&nbsp;{% trans "Your profile must be completed in order to access all the features of the site" %}
        </p>
        <h3 class="text-center" style="margin-bottom:1.5em">{% trans "Please complete the following:" %}</h3>
      {% else %}
        <div class="mb-4"></div>
      {% endif %}
      <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                  <div class="float-right">
                    {% if not profile.email_is_verified %}
                      <a href="{% url 'account_email' %}">
                        <i class="fa fa-close fa-2x text-danger"></i>
                      </a>
                    {% else %}
                      <i class="fa fa-check fa-2x success"></i>
                    {% endif %}
                  </div>
                  <h5><i class="fa fa-envelope-o fa-lg"></i>&nbsp;{% trans "Email address verification" %}</h5>
                </div>
                <div class="card-body">
                  {% if not profile.email_is_verified %}
                  <a href="{% url 'account_email' %}" class="btn btn-primary">{% trans "Verify email" %}</a>
                {% else %}
                  <a href="{% url 'account_email' %}" class="btn btn-outline-primary">{% trans "Edit" %}</a>
              {% endif %}
                </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
                <div class="card-header">
                  <div class="float-right">
                    {% if not profile.personal_info_is_completed %}
                      <a href="{% url "profile-identity-form" profile.pk %}">
                        <i class="fa fa-close fa-2x grey"></i>
                      </a>
                    {% else %}
                      <i class="fa fa-check fa-2x text-success"></i>
                    {% endif %}
                  </div>
                  <h5><i class="fa fa-book fa-lg"></i>&nbsp;{% trans "Personal information" %}</h5>
                </div>
                <div class="card-body">
              {% if profile.personal_info_is_completed %}
                <a href="{% url "profile-identity-form" profile.pk %}" class="btn btn-outline-primary">{% trans "Edit" %}</a>
              {% else %}
                <a href="{% url "profile-identity-form" profile.pk %}" class="btn btn-primary">{% trans "Complete now" %}</a>
              {% endif %}
                </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="gc gus-l">
            <a href="{% url 'account_change_password' %}" class="btn btn-link">{% trans "Change your password" %}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}